@model IEnumerable<ReMember.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form asp-area="Members" asp-action="Index">
    <p>
        First Name: <input type="text" name="firstNameSearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParm"]">@Html.DisplayNameFor(model => model.MemberFirstName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParm"]">@Html.DisplayNameFor(model => model.MemberLastName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberPhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberPhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
